@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: black;
  background: linear-gradient(180deg, black 21%, #a20b0e 75%, #ffa600 100%);
  font-family: 'quicksand', sans-serif; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  gap: 1.3em;
  grid-template-columns: repeat 5, 1fr;
  justify-content: center;
  padding: 20px;
  grid-column: -1;
  border: none; }

.container1 {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  gap: 1.3em;
  grid-template-columns: repeat 5, 1fr;
  justify-content: center;
  padding: 20px;
  grid-column: -1;
  border: none; }

@media screen and (max-width: 768px) {
  .container header {
    display: flex;
    flex-direction: column; }
  .container1 header {
    display: flex;
    flex-direction: column; }
  .container .content {
    grid-column: 1 / -1; }
  .container1 .content1 {
    grid-column: 1 / -1; }
  .container .sidebar {
    grid-column: 1 / -1; }
  .container .sidebar div img {
    width: 100%; }
  .container footer .redes {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap; }
  .footer .redes {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap; }
  .container iframe {
    width: 100%;
    height: 150%; }
  .content a {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container content a {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container1 {
    display: flex;
    flex-wrap: wrap; }
  .container1 .conten3 {
    padding: 10px;
    width: 70%;
    margin: 1.6rem; } }

@media screen and (max-width: 768px) {
  .container header {
    display: flex;
    flex-direction: column; }
  .container1 header {
    display: flex;
    flex-direction: column; }
  .container .content {
    grid-column: 1 / -1; }
  .container1 .content1 {
    grid-column: 1 / -1; }
  .container .sidebar {
    grid-column: 1 / -1; }
  .container .sidebar div img {
    width: 100%; }
  .container footer .redes {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap; }
  .footer .redes {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap; }
  .container iframe {
    width: 100%;
    height: 150%; }
  .content a {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container content a {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container1 {
    display: flex;
    flex-wrap: wrap; }
  .container1 .conten3 {
    padding: 10px;
    width: 70%;
    margin: 1.6rem; } }

.container1 .content2 .carta img, .container1 .content2 .reservas img, .container1 .content2 .ubicacion img, .container1 .content2 .hora img {
  width: 100%;
  max-width: 400px;
  height: 200px; }

.container1 .content2 .carta a, .container1 .content2 .reservas a, .container1 .content2 .ubicacion a, .container1 .content2 .hora a {
  color: white;
  width: 150px;
  height: 30px;
  font-family: 'quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 20px; }

.container1 .content2 .carta p, .container1 .content2 .reservas p, .container1 .content2 .ubicacion p, .container1 .content2 .hora p {
  color: white;
  font-family: 'quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500px;
  font-style: normal;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px;
  padding: 10px; }

.container1 .content2 .carta h2, .container1 .content2 .reservas h2, .container1 .content2 .ubicacion h2, .container1 .content2 .hora h2 {
  color: crimson;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  margin: 20px;
  padding: 10px; }

/*pagina de index*/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  gap: 1.3em;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 20px;
  grid-column: 1/-1;
  color: #ffffff;
  border: none; }
  .container header {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
    background-color: black; }
    .container header img {
      max-width: 200px;
      animation: imagen 2000ms 1; }

@keyframes imagen {
  0% {
    width: 0px; }
  60% {
    width: 270px; }
  100% {
    width: 200px; } }
    .container header nav {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: black; }
      .container header nav .navbar-toggler {
        color: crimson;
        border-color: crimson;
        text-shadow: white; }
      .container header nav ul li {
        list-style: none;
        display: inline-block;
        margin: 20px;
        text-decoration: none;
        color: orangered;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        justify-content: space-between; }
        .container header nav ul li:hover {
          text-decoration: overline;
          text-decoration-color: white;
          transform: scale(1.2);
          color: orange; }
        .container header nav ul li a {
          text-decoration: none;
          color: orangered;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Quicksand', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center; }
  .container .tituloBienvenida {
    grid-column: 1/6;
    color: #ffffff;
    border: none;
    display: flex;
    flex-direction: column; }
    .container .tituloBienvenida h1 {
      padding: 20px 0;
      text-align: center;
      font-size: 60px;
      color: crimson;
      font-family: 'Righteous', cursive;
      animation: compress 1500ms 1; }

@keyframes compress {
  0% {
    letter-spacing: 20px; }
  60% {
    letter-spacing: -2px; }
  100% {
    letter-spacing: 1px; } }
    .container .tituloBienvenida p {
      color: orangered;
      font-size: 25px;
      font-weight: 700;
      font-style: oblique;
      font-family: 'Righteous', cursive;
      letter-spacing: 5px;
      text-align: center;
      margin: 10px;
      padding: 10px; }

/*paginas de shows, contacto, carta y acerca*/
.container1 header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px;
  background-color: black; }
  .container1 header img {
    max-width: 200px;
    animation: imagen 2000ms 1; }

@keyframes imagen {
  0% {
    width: 0px; }
  60% {
    width: 270px; }
  100% {
    width: 200px; } }
  .container1 header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black; }
    .container1 header nav .navbar-toggler {
      color: crimson;
      border-color: crimson;
      text-shadow: white; }
    .container1 header nav ul li {
      list-style: none;
      display: inline-block;
      margin: 20px;
      text-decoration: none;
      color: orangered;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
      justify-content: space-between; }
      .container1 header nav ul li:hover {
        text-decoration: overline;
        text-decoration-color: white;
        transform: scale(1.2);
        color: orange; }
      .container1 header nav ul li a {
        text-decoration: none;
        color: orangered;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center; }

.container1 .tituloBienvenida {
  grid-column: 1/6;
  color: #ffffff;
  border: none;
  display: flex;
  flex-direction: column; }
  .container1 .tituloBienvenida h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 60px;
    color: crimson;
    font-family: 'Righteous', cursive;
    animation: compress 1500ms 1; }

@keyframes compress {
  0% {
    letter-spacing: 20px; }
  60% {
    letter-spacing: -2px; }
  100% {
    letter-spacing: 1px; } }
  .container1 .tituloBienvenida p {
    color: orangered;
    font-size: 25px;
    font-weight: 700;
    font-style: oblique;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px; }

.container1 .content2 .carta img, .container1 .content2 .reservas img, .container1 .content2 .ubicacion img, .container1 .content2 .hora img {
  width: 100%;
  max-width: 400px;
  height: 200px; }

.container1 .content2 .carta a, .container1 .content2 .reservas a, .container1 .content2 .ubicacion a, .container1 .content2 .hora a {
  color: white;
  width: 150px;
  height: 30px;
  font-family: 'quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 20px; }

.container1 .content2 .carta p, .container1 .content2 .reservas p, .container1 .content2 .ubicacion p, .container1 .content2 .hora p {
  color: white;
  font-family: 'quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500px;
  font-style: normal;
  letter-spacing: 5px;
  text-align: center;
  margin: 10px;
  padding: 10px; }

.container1 .content2 .carta h2, .container1 .content2 .reservas h2, .container1 .content2 .ubicacion h2, .container1 .content2 .hora h2 {
  color: crimson;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  margin: 20px;
  padding: 10px; }

/*Pagina de Index*/
.container .content {
  grid-column: 1/4;
  grid-row: span 3;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .container .content h2 {
    color: crimson;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px; }
  .container .content p {
    color: aliceblue;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin: 30px; }
  .container .content a {
    color: white;
    width: 150px;
    height: 30px;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: black;
    border: white;
    transition-property: 1.5s; }
    .container .content a:hover {
      background-color: orangered;
      border-color: #ffffff;
      transition-duration: 1.5s; }

/*pagina de shows*/
.container1 .content2 {
  width: 100%;
  max-width: 1000px;
  display: grid;
  gap: 1.6em auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1/4;
  grid-row: span 3; }
  .container1 .content2 p {
    color: whitesmoke;
    font-size: 35px;
    font-weight: 700;
    font-style: oblique;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    text-align: center;
    animation: prox 1500ms 1; }

@keyframes prox {
  0% {
    letter-spacing: 10px; }
  50% {
    letter-spacing: -2px; }
  100% {
    letter-spacing: 2px; } }
  .container1 .content2 .carta:hover {
    transform: scale(1.1);
    transition-duration: 1s; }
  .container1 .content2 .reservas:hover {
    transform: scale(1.1);
    transition-duration: 1s; }
  .container1 .content2 .ubicacion:hover {
    transform: scale(1.1);
    transition-duration: 1s; }
  .container1 .content2 .hora:hover {
    transform: scale(1.1);
    transition-duration: 1s; }

/*pagina de contacto*/
.container1 .content3 {
  grid-column: 1/6;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  margin: 10px; }
  .container1 .content3 .carta p {
    grid-column: 1/6;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'quicksand', sans-serif; }
  .container1 .content3 .what {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin: 50px; }
    .container1 .content3 .what h2 {
      display: flex;
      flex-direction: column; }
    .container1 .content3 .what img {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
      margin: 20px; }
    .container1 .content3 .what .llegar {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 50px;
      color: aliceblue;
      font-size: 25px;
      font-style: normal;
      text-align: center;
      font-weight: 700; }
      .container1 .content3 .what .llegar h2 {
        color: orangered;
        font-family: 'Righteous', cursive;
        font-size: 40px;
        font-style: italic;
        text-align: center;
        font-weight: bold;
        margin: 30px; }
      .container1 .content3 .what .llegar p {
        width: 250px;
        color: aliceblue;
        font-size: 20px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        margin: 20px;
        display: flex;
        flex-direction: row; }

/* pagina de carta*/
.container1 .content1 .gusto h2 {
  color: aliceblue;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  margin: 20px;
  padding: 10px; }

.container1 .content1 .gusto p {
  color: aliceblue;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin: 30px; }

.container1 .content1 .accordion .accordion-item1 {
  grid-column: 1/-1;
  color: crimson;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  height: 600px;
  background-image: url(../img/barratragos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .container1 .content1 .accordion .accordion-item1 ul {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    text-align: justify; }
    .container1 .content1 .accordion .accordion-item1 ul li:hover {
      text-decoration: underline;
      text-decoration-color: white;
      transform: scale(1.2);
      font-weight: bold;
      background-color: black; }

.container1 .content1 .accordion .accordion-item2 {
  grid-column: 1/-1;
  color: crimson;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  height: 600px;
  background-image: url(../img/barvegano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .container1 .content1 .accordion .accordion-item2 ul {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    text-align: justify; }
    .container1 .content1 .accordion .accordion-item2 ul li:hover {
      text-decoration: underline;
      text-decoration-color: white;
      transform: scale(1.2);
      font-weight: bold;
      background-color: black; }

/* pagina de acerca*/
.container1 .content3 {
  grid-column: 1/6;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  margin: 10px; }
  .container1 .content3 .bebidas h2 {
    color: aliceblue;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px; }
  .container1 .content3 .bebidas p {
    grid-column: 1/6;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'quicksand', sans-serif; }
  .container1 .content3 .comida {
    background-image: url(../img/publico.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .container1 .content3 .comida h2 {
      display: grid;
      grid-column: 1/-1;
      animation: espec 3500ms infinite; }

@keyframes espec {
  0% {
    letter-spacing: 10px; }
  60% {
    letter-spacing: -2px; }
  100% {
    letter-spacing: 10px; } }
    .container1 .content3 .comida .rata {
      display: flex;
      flex-direction: column;
      margin: 20px;
      text-align: center;
      align-items: center; }
    .container1 .content3 .comida .ajeno {
      display: flex;
      flex-direction: column;
      margin: 20px;
      text-align: center;
      align-items: center; }
    .container1 .content3 .comida .profecia {
      display: flex;
      flex-direction: column;
      margin: 20px;
      text-align: center;
      align-items: center; }
    .container1 .content3 .comida .ruso {
      display: flex;
      flex-direction: column;
      margin: 20px;
      text-align: center;
      align-items: center; }

/*pagina de index*/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  gap: 1.3em;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 20px;
  grid-column: 1/-1;
  color: #ffffff;
  border: none; }
  .container aside {
    padding: 20px;
    border: 1px solid crimson;
    grid-column: auto;
    grid-row-start: span 3;
    grid-row-end: span 6;
    color: crimson;
    background-color: black; }
    .container aside h2 {
      color: crimson;
      font-family: 'Righteous', cursive;
      font-size: 35px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
      margin: 20px; }
    .container aside div {
      color: orangered;
      font-family: 'Righteous', cursive;
      font-size: 20px;
      font-weight: 500px;
      font-style: normal;
      letter-spacing: 5px;
      text-align: center;
      margin: 10px;
      padding: 10px; }
      .container aside div img {
        display: block;
        width: 300px;
        height: 200px;
        margin-top: 5px; }
      .container aside div p {
        color: white;
        font-family: 'quicksand', sans-serif;
        font-size: 20px;
        font-weight: 500px;
        font-style: normal;
        letter-spacing: 5px;
        text-align: center;
        margin: 10px;
        padding: 10px; }
      .container aside div a {
        text-decoration: none;
        color: orange;
        text-align: center;
        font-weight: bolder;
        font-family: 'Quicksand', sans-serif; }
        .container aside div a:hover {
          font-size: 25px;
          letter-spacing: 1px;
          transition-duration: 0.5s; }

/*pagina de shows*/
.container1 .sidebar {
  grid-column: 4/6;
  grid-row: span 3;
  color: crimson;
  background-color: black;
  justify-content: center;
  align-items: center; }
  .container1 .sidebar h2 {
    color: crimson;
    font-family: 'Righteous', cursive;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px; }
  .container1 .sidebar div h3 {
    color: orangered;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px; }
  .container1 .sidebar div p {
    color: white;
    font-family: 'quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500px;
    font-style: normal;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px; }
  .container1 .sidebar div img {
    display: block;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-items: center; }
  .container1 .sidebar div:hover {
    transform: scale(1.1);
    transition-duration: 1s; }
  .container1 .sidebar .entrada a {
    grid-column: 4/6;
    text-decoration: none;
    color: orange;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif; }
    .container1 .sidebar .entrada a:hover {
      transform: scale(1.1);
      transition-duration: 1s; }

/* pagina de index*/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  display: grid;
  gap: 1.3em;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 20px;
  grid-column: 1/-1;
  color: #ffffff;
  border: none;
  padding: 20px; }
  .container footer {
    grid-column: 1/-1;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0; }
    .container footer h4 {
      text-align: center;
      padding: 25px;
      font-family: 'Righteous', cursive;
      font-size: 30px;
      color: orangered; }
    .container footer p {
      color: orange;
      text-align: center;
      font-weight: bolder;
      font-family: 'Quicksand', sans-serif; }
    .container footer .redes img {
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: row; }
      .container footer .redes img:hover {
        transform: scale(1.2); }

/*pagina de acerca, coontacto y shows*/
.container1 footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  grid-column: 1/6;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0; }
  .container1 footer h4 {
    text-align: center;
    padding: 25px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: orangered; }
  .container1 footer img {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row; }

/* footer de la pagina de carta*/
footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0; }
  footer h3 {
    text-align: center;
    padding: 25px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: orangered; }
  footer img {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row; }
