@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap');
@import "./maps";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: map-get($estilos , gradiente );
    font-family: 'quicksand', sans-serif;
}
.container {
    width: map-get($estilos , ancho );
    max-width: map-get($estilos , maximo);
    margin: map-get($estilos , margen);
    display: map-get($estilos , layaut);
    gap: map-get($estilos , gap);
    grid-template-columns: map-get($estilos, grid);
    justify-content: map-get($estilos, centro);
    padding:map-get($estilos, espacio);
    grid-column: map-get($estilos, column);
    border: map-get($estilos, borde);

}
.container1{
    width: map-get($estilos , ancho );
    max-width: map-get($estilos , maximo);
    margin: map-get($estilos , margen);
    display: map-get($estilos , layaut);
    gap: map-get($estilos , gap);
    grid-template-columns: map-get($estilos, grid);
    justify-content: map-get($estilos, centro);
    padding:map-get($estilos, espacio);
    grid-column: map-get($estilos, column);
    border: map-get($estilos, borde);
}
