@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 21%, rgba(162, 11, 14, 1) 75%, rgba(255, 166, 0, 1) 100%);
    font-family: 'quicksand', sans-serif;

}