@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap');
@import "./maps";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: map-get($estilos , gradiente );
    font-family: 'quicksand', sans-serif;
}
.container {
    width: map-get($estilos , ancho );
    max-width: map-get($estilos , maximo);
    margin: map-get($estilos , margen);
    display: map-get($estilos , layaut);
    gap: map-get($estilos , gap);
    grid-template-columns: map-get($estilos, grid);
    justify-content: map-get($estilos, centro);
    padding:map-get($estilos, espacio);
    grid-column: map-get($estilos, column);
    border: map-get($estilos, borde);

}
.container1{
    width: map-get($estilos , ancho );
    max-width: map-get($estilos , maximo);
    margin: map-get($estilos , margen);
    display: map-get($estilos , layaut);
    gap: map-get($estilos , gap);
    grid-template-columns: map-get($estilos, grid);
    justify-content: map-get($estilos, centro);
    padding:map-get($estilos, espacio);
    grid-column: map-get($estilos, column);
    border: map-get($estilos, borde);
}
@media screen and (max-width: 768px) {
    .container header {
        display: flex;
        flex-direction: column;

    }

    .container1 header {
        display: flex;
        flex-direction: column;
    }

    .container .content {
        grid-column: 1 / -1;
    }

    .container1 .content1 {
        grid-column: 1 / -1;
    }

    .container .sidebar {
        grid-column: 1 / -1;
    }

    .container .sidebar div img {
        width: 100%;
    }

    .container footer .redes {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
    }

    .footer .redes {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
    }

    .container iframe {
        width: 100%;
        height: 150%;
    }

    .content a {
        display: flex;
        flex-direction: column;

        justify-content: center;

    }

    .container content a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        display: flex;
        flex-wrap: wrap;
    }

    .container1 .conten3 {
        padding: 10px;
        width: 70%;
        margin: 1.6rem;
    }


}