$estilos: (
gradiente: linear-gradient(180deg, rgba(0, 0, 0, 1) 21%, rgba(162, 11, 14, 1) 75%, rgba(255, 166, 0, 1) 100%),
ancho: 100%,
maximo:1000px,
margen: 2em auto,
layaut: grid,
centro: center,
grid: repeat (5,1fr),
gap: 1.3em,
espacio:20px,
column: 1/-1,
borde: none
);