@media screen and (max-width: 768px) {
    .container header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;

    }

    .container1 header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .container .content {
        grid-column: 1 / 6;
        grid-row: auto;
        
    }

    .container1 .content1 {
        grid-column: 1 / -1;
    }

    .container .sidebar {
        grid-column: 1 / -1;
    }

    .container .sidebar div img {
        width: 100%;
    }

    .container footer .redes {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
    }

    .footer .redes {
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
    }

    .container iframe {
        width: 100%;
        height: 150%;
    }

    .content a {
        display: flex;
        flex-direction: column;

        justify-content: center;

    }

    .container content a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        display: flex;
        flex-wrap: wrap;
    }

    .container1 .conten3 {
        padding: 10px;
        width: 70%;
        margin: 1.6rem;
    }


}